.title {
    font-size: 300%;
}
.links {
    font-size: 100%;
}
.news {
    border-width: 5px;
    text-align: center;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}
#game-selection {
    left: 0;
    top: 0;
    position: fixed;
    overflow-y: scroll;
    width: 25%;
    border: none;
    height: 100%;
    margin: none;
}
.game-button {
    width: 100%
}
#iframe-container {
    position: fixed;
    margin: none;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    z-index: 0;
    border: none;
    overflow: hidden;
  }
#iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
.center {
    margin-left: auto;
    margin-right: auto;
}
.dark {
    background-color: darkslategrey;
}
#iframe-container::backdrop {
    background-color: rgba(255,255,255,0);
}
#iframe::backdrop {
    background-color: rgba(255,255,255,0);
}
